<div class="container">
    <div>
        <div>
            <header>
                <b>Crear Contacto</b> 
            </header>
        </div>
        <form [formGroup]="formGroup">
            <div class="col-md-6 container">
                <div class="mb-3">
                    <label for="exampleInputId" class="form-label">Numero de Identificacion</label>
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': control?.identificacion?.errors && control?.identificacion?.touched}"
                        formControlName="identificacion" id="identificacion" name="identificacion">
                    <div *ngIf="control?.identificacion?.errors" class="invalid-feedback">
                        <div *ngIf="control?.identificacion?.errors?.required">Se requiere la identificacion</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': control?.nombre?.errors && control?.nombre?.touched}"
                        formControlName="nombre" id="nombre" name="nombre">
                    <div *ngIf="control?.nombre?.errors" class="invalid-feedback">
                        <div *ngIf="control?.nombre?.errors?.required">Se requiere el nombre</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputCel" class="form-label">Celular</label>
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': control?.celular?.errors && control?.celular?.touched}"
                        formControlName="celular" id="celular" name="celular">
                    <div *ngIf="control?.celular?.errors" class="invalid-feedback">
                        <div *ngIf="control?.celular?.errors?.required">Se requiere el celular</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputDireccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': control?.direccion?.errors && control?.direccion?.touched}"
                        formControlName="direccion" id="direccion" name="direccion">
                    <div *ngIf="control?.direccion?.errors" class="invalid-feedback">
                        <div *ngIf="control?.direccion?.errors?.required">Se requiere la direccion</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-10 col-md-6 form-group">
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="fecha" [bsValue]="bsValue">
                    </div>
                    <div class="col-xs-12 col-12 col-md-3 form-group">
                        <button class="btn btn-info" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"
                            type="button"><img src="assets/imagenes/calendario.png" width="20px"></button>
                    </div>
                </div>

                <div style="padding-top: 40px;" >
                    <button type="submit" (click)="onSubmit()" [disabled]="formGroup?.invalid"
                        class="btn btn-primary">Guardar</button>
                    <button class="btn btn-danger" type="reset">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>